
Installation

	* Download {{{http://kurento.googlecode.com/files/kas-softphone-1.1.0-RC-4.apk} K-Phone ${project.version}}} from the community downloads section.
	
	* Once downloaded install it into your Android device. You must accept requested permissions in order to install.
	
	